.form{
    
    border: 2px solid black;
    height: 400px;
    width: 30%;
    margin: auto;
   
   
    
}
.head{
    align-content: center;
    background-color: rgb(122, 177, 177);
    height: 65px;
    text-align: center;


}
.form input{
    width: 120px;
}
.text{
    padding: 20px;
}

.form button{
 margin-left: 30px;
  width: 350px;
  height: 30px;
  background-color:rgb(122, 177, 177);
  
}
.form input{
    width: 100px;
    height: 25px;
    

}
.mid input{
    width: 355px;
    
    
}
.mid{
    padding: 20px;
}
.end select{
    width: 130px;
    height: 35px;
}



